/*
	Author: Danny Garcia
	http://danny-garcia.com
	Copyright © 2016 Danny Garcia. All rights reserved.
*/

:root {
    --swatch-background: #000;
    --swatch-lowlight: hsl(200,5%,15%);
    --swatch-highlight: #ffffff;
    --swatch-copy: #979690;
    --space: 3em;
    --ease: cubic-bezier(0.165, 0.84, 0.44, 1);
}

* {
	font-size: 1em;
	font-weight: normal;
	box-sizing: border-box;
}

h1, p, hr {
    margin-top: 0;
    margin-bottom: 0;
}

html {
	background: var(--swatch-background);
	font-smoothing: subpixel-antialiased;
	text-rendering:optimizeLegibility;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: var(--swatch-background);
	color: var(--swatch-copy);
	font-size: 18px;
}

a {
    text-decoration: none;
	color: var(--swatch-highlight);
}

a:hover {
	text-decoration: overline;
}

.shiny {
	will-change: color;
}

.inner-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
    padding: 0 1em;
}

main {
    font-size: 1.4em;
    line-height: 1.8em;
}

.bigcopy {
    font-size: 1.4em;
    line-height: 1.6em;
}

.bigcopy,
.bigcopy a {
	font-weight: 300;
}

.section-header {
	position: relative;
/* 	display: flex; */
    background: var(--swatch-lowlight);
/*     padding: var(--space); */
    padding-top: var(--space);
    padding-bottom: var(--space);
    outline: 1px solid margin;
}

#playground, #playground canvas {
	position: absolute;
	top: 0;
	left: 0;
    width: 100% !important; /* overwrites fixed dimensions set inline by three.js */
    height: 100%;
    /*pointer-events: none;*/
    /*z-index: 2;*/
    /*outline: 1px solid magenta;*/
}

#playground canvas {
	border-bottom: 1px solid var(--swatch-lowlight);
}

.intro {
	padding-top: 300px;
	/*visibility: hidden;*/
	display: flex;
	align-items: center;
	margin-bottom: calc(var(--space) / 2);
}

.intro .bigcopy {
	line-height: 1.2em;
}

.section-header * {
/* outline: 1px solid orange;  */
}

.intro .img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1em;
	width: 25vw;
	height: 27vw;
	max-width: 240px;
	margin-right: 1em;
	mix-blend-mode: lighten;
/*	-webkit-backdrop-filter: blur(50px) brightness(205%);
	backdrop-filter: blur(50px) brightness(205%);
*/}
.intro {

}

.intro h1 {
    margin: 0;
}

.section-header p {
    margin: 0;
}

p {
    margin-bottom: var(--space);
    margin-top: var(--space);
}

h1 + p {
    margin-top: calc(var(--space) / 2);
}

hr {
    border: none;
    border-top: 2px solid var(--swatch-lowlight);
}

footer {
    color: var(--swatch-lowlight);
    margin-bottom: 2em;
}

.tin-swipe,
.tin-bg {
	will-change: opacity, transform;
	transition-property: opacity, transform;
	transition-duration: 600ms;
	transition-timing-function: var(--ease);
	opacity: 0;
	transform: scale(0.92) translateY(100px);
}

@media (prefers-reduced-motion) {
	.tin-swipe,
	.tin-bg {
		will-change: none;
		transition-property: none;
		opacity: 1;
		transform: none;
	}
}
