main {
	position: relative;
	width: $sidebar-width * 2;
	margin-left: $sidebar-width + $sidebar-shift;
	padding: 50px;
	font-family: Georgia, Times, 'Times New Roman', serif;

	will-change: transform, opacity;
	transition-property: transform, opacity;
	transition-duration: 700ms;
	transition-timing-function: ease;

	b, strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	ol, ul {
		padding: 0 0 0 50px;
		margin: 0.5em 0;
	}
	ol {
		list-style: octal;
	}
	ul {
		list-style: disc;
	}

	p, pre {
		margin: 0 0 30px;
	}

	p, li {
		font-size: 1em;
		line-height: 1.5em;
		color: $swatch-copy;
	}

	h1 {
		font-size: 2em;
		margin: 0.67em 0
	}

	h2 {
		font-size: 1.5em;
		margin: 0.83em 0
	}

	h3 {
		font-size: 1.17em;
		margin: 1em 0
	}

	h4 {
		font-size: 1em;
		margin: 1.33em 0
	}

	h5 {
		font-size: 0.83em;
		margin: 1.67em 0
	}

	h6 {
		font-size: 0.75em;
		margin: 2.33em 0
	}

}
